.rsb-container {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: var(--main-bg-dark);
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 1px rgba(30, 30, 30, 0.3);
}

.hide-rsb {
  width: 0;
}

.show-rsb {
  width: 25%;
}

.rsb-icon {
  align-self: flex-start;
  margin-left: 0px;
  margin-bottom: 20px;
}

.rsb-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.rsb-author {
  color: var(--main-light);
  align-self: flex-start;
  font-size: xx-large;
  text-decoration: underline;
  margin-bottom: 0.5rem;
  transition: all .2s ease-in-out;
}

.rsb-author:hover {
  transform: scale(1.05);
}

.rsb-small-link {
  text-align: center;
  font-size: 1.2rem;
}

.rsb-small-link:hover {
  text-decoration: underline;
}

#redirect-link {
  text-decoration: none;
  color: var(--main-creme);
  font-style: italic;
  font-size: 1.2rem;
}

.rsb-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.rsb-expand-btn,
.rsb-delete-btn {
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.5);
  margin: 10px 5px;
}

.rsb-expand-btn {
  color: black;
  flex: 3;
  background-color: var(--main-light);
}

.rsb-expand-btn:hover {
  background: -webkit-linear-gradient(225deg, rgb(0, 255, 255), rgb(0, 73, 125));
}

.rsb-delete-btn {
  color: whitesmoke;
  flex: 1;
  background-color: var(--red);
}

.rsb-delete-btn:hover {
  background: -webkit-linear-gradient(300deg, var(--red), #6b0019);
}

.rsb-list {
  flex: 3;
  overflow: scroll;
  color: black;
  width: 100%;
}

.rsb-list-article {
  background-color: rgb(178, 178, 178, 0.2);
  margin: 0 5px 5px 5px;
  padding: 5px;
  border-radius: 3px;
  color: var(--main-light);
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.rsb-list-article:hover {
  transform: scale(1.01);
}

.rsb-article-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.rsb-article-authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-style: italic;
  ;
}

.rsb-icon-close {
  height: 4rem;
  width: 4rem;
  transition: all .2s ease-in-out;
}

.rsb-icon-close:hover {
  fill: url(#icon-red-gradient) #fff;
  transform: scale(1.1);
}

.list-total-numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
}

.num-articles {
  min-width: 50%;
}

.empty-search-msg {
  position: absolute;
  top: 10%;
  left: 50%;
  text-align: center;
  width: 30vw;
  font-size: 1.4rem;
}

.error-msg {
  position: relative;
  left: -50%
}