.rsb-container {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #17404d;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px 1px rgba(51, 51, 51, 0.5);
}

.hide {
  width: 0;
}

.show {
  width: 25%;
}

.rsb-icon {
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 20px;
}

.rsb-icon-close {
  color: black;
  font-size: 4rem;
  font-weight: lighter;
}

.rsb-icon-close:hover {
  color: rgb(227, 221, 202);
}

.rsb-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}
.rsb-author {
  align-self: flex-start;
  font-size: xx-large;
  text-decoration: underline;
  margin-bottom: 5px;
}

.rsb-expand-btn {
  margin: 10px;
  color: black;
  width: 50%;
  background-color: rgb(227, 221, 202);
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.5);
}

.rsb-expand-btn:hover {
  color: rgb(227, 221, 202);
  background-color: rgb(42, 83, 73);
}

.rsb-list {
  flex: 3;
  overflow: scroll;
  color: black;
  width: 100%;
}

.rsb-list-article {
  background-color: rgb(227, 221, 202);
  margin: 0 5px 5px 5px;
  padding: 5px;
  border-radius: 3px;
}

.rsb-article-title {
  font-weight: bold;
}

.rsb-article-authors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-style: italic;
}