.data-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-color: rgb(178, 178, 178, 0.1);
  box-shadow: 0 0 5px 1px #3333;
  margin-bottom: 2rem;
}

.graph-svg {
  width: 100%;
  height: 100%;
}

.graph-clean {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: absolute;
  top: 80vh;
  right: 2rem;
}

.graph-icon-clean {
  font-size: 3rem;
  color: var(--main-bg-dark);
}

.graph-icon-clean:hover {
  color: var(--red);
}

.kill-text {
  display: none;
  margin-right: 5px;
}

.graph-icon-clean:hover + .kill-text {
  display: block;
}

.graph-empty-placeholder {
  position: absolute;
  top: 10rem;
  left: 50%;
  width: 20vw;
  text-align: center;
}

#search-redirect-link {
  text-decoration: none;
  color: rgb(0, 179, 255);
}

#search-redirect-link:hover {
  text-decoration: underline;
}