.home-title {
  margin: 2rem 0 3rem 0;
  text-align: center;
  font-size: 5rem;
  color: var(--main-bg-light)
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 5rem;
}

.home-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: 100%;
  max-width: 300px;
  margin: 3rem 2rem 3rem 2rem;
  border-radius: 5px;
}

.home-component:hover > .home-icon-container {
  transform: scale(1.1);
}

.home-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
  width: 100%;
  transition: all .2s ease-in-out;
}

.home-icon {
  height: 15rem;
  width: 100%;
}

#search-icon {
  fill: url(#icon-blue-gradient);
}

#graph-icon {
  fill: url(#icon-orange-gradient);
}

#list-icon {
  fill: url(#icon-purple-gradient);
}

.component-description {
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.description-header {
  margin: 2rem 0 2rem 0;
}

.intro-tinysearch {
  text-align: center;
  margin-bottom: 1rem;
}