.tiny-container {
  margin: 0 auto;
  /* margin: 15px; */
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  width: 30%;
  box-shadow: 0 0 2px 1px rgba(190, 190, 190, 0.1);
}

.tinysearch-input,
.tinysearch-btn {
  padding: 0.5rem;
  border: 0;
}

.tinysearch-input {
  flex: 3;
  background-color: var(--main-bg-light);
  color: var(--main-bg-dark);
}

.tinysearch-input:hover {
  background-color: rgb(235, 235, 235);
}

.tinysearch-btn {
  color: black;
  flex: 1;
  background: -webkit-linear-gradient(290deg, rgb(0, 255, 255), rgb(0, 73, 125));
}

.tinysearch-btn:hover {
  background: -webkit-linear-gradient(290deg, rgb(0, 265, 265), rgb(0, 106, 171));
}