.list-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 5rem;
}

.list-top.selectedAuth {
  justify-content: space-between;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles-header {
  /* color: var(--main-light); */
  color: var(--main-light);
  font-size: 3rem;
  margin: 0 auto;
  letter-spacing: 2px;
  align-self: center;
}

#header-author {
  font-size: 1.2rem;
}

h4 {
  font-style: italic;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: var(--main-bg-light)
}

.list-container {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-article {
  background-color: var(--main-bg-dark);
  color: var(--main-bg-light);
  margin-bottom: 1rem;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px #3333;
  width: 100%;
  transition: all .2s ease-in-out;
  font-size: 1.2rem;
}

.list-article:hover {
  background-image: linear-gradient(115deg, var(--main-bg-dark), rgb(40, 40, 40));
  transform: scale(1.01);
}

.list-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.filter-selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  margin-bottom: 1rem;
  height: 2rem;
}

.filter-search {
  width: 60%;
  border-radius: 3px;
  border: 0px;
  padding: 5px;
  height: 2rem;
  margin-bottom: 15px;
  font-family: 'Quicksand';
  color: var(--main-bg-light);
  background-color: var(--main-bg-dark);
}

.date-selector,
.category-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.select-date,
.select-cat {
  height: 100%;
  margin-left: 0.5rem;
  min-width: 10rem;
  border-radius: 3px;
  text-align: center;
  font-size: 1.1em;
  font-family: 'Quicksand';
}

.list-article-title,
.list-article-authors,
.list-article-abstract,
.list-article-published {
  margin-bottom: 1rem;
}

.list-article-title {
  font-weight: bold;
  font-size: x-large;
}

.list-article-authors {
  font-style: italic;
}

.list-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arxiv-link {
  text-decoration: none;
  color: var(--main-light);
  font-weight: bold;
  font-style: italic;
  margin-right: 0.3rem;
}

.arxiv-link:hover {
  text-decoration: underline;
}

.no-articles {
  text-align: center;
  font-size: x-large;
  margin-top: 15px;
}

.redirect {
  text-decoration: none;
  color: rgb(13, 44, 57)
}

.list-return {
  display: absolute;
  height: 4rem;
  width: 4rem;
  transition: all .2s ease-in-out;
}

.list-return:hover {
  fill: url(#icon-blue-gradient) #fff;
  transform: scale(1.1);
}

.list-clear-article {
  transition: all .2s ease-in-out;
}

.list-clear-article:hover {
  cursor: default;
  translate: scale(1.1);
  text-decoration: underline;
}