.nav-container {
  background-color: rgb(23, 64, 77);
  padding: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px 1px rgba(51, 51, 51, 0.5);
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 5px auto;
}

.nav-link {
  text-decoration: none;
  color: rgb(227, 221, 202);
  font-size: larger;
}
