.nav-container {
  background-color: var(--main-bg-dark);
  padding: 0.1rem; 
  /* margin-bottom: 15px; */
  box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.3);
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  margin: 5px auto;
}

.nav-link {
  text-decoration: none;
  color: var(--main-light);
  font-size: x-large;
  height: 100%;
  padding: 0.5rem;
  transition: all .2s ease-in-out;
}

#home:hover {
  background: -webkit-linear-gradient(270deg, rgb(17, 255, 0), rgb(1, 60, 18));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

#search:hover {
  background: -webkit-linear-gradient(270deg, rgb(0, 255, 255), rgb(0, 73, 125));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

#graph:hover {
  background: -webkit-linear-gradient(270deg, rgb(255, 187, 0), rgb(166, 1, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}

#list:hover {
  background: -webkit-linear-gradient(270deg, rgb(255, 0, 242), rgb(34, 0, 62));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}