/* Just styling for the header */
.search-header {
  color: var(--main-bg-light);
  font-size: 3rem;
  margin: 0 auto;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lulz {
  margin: 0 1px;
  transition: all .1s ease-in-out;
}

.lulz:hover {
  transform: scale(1.5);
}

/* Outer container to create two flexbox lists */
.search-form-container {
  font-family: 'Quicksand';
  color: var(--main-bg-light);
  background-color: var(--main-bg-dark);
  height: 60vh;
  width: 60vw;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 1.5rem;
  box-shadow: 0 0 3px 1px rgb(30, 30, 30, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}

/* Search form - left list */
.search-form,
.search-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%
}

.search-title,
.search-author,
.search-journal,
.search-abstract {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.search-input-title,
.search-input-author,
.search-input-journal,
.search-input-abstract {
  font-family: 'Quicksand';
  border: 0px;
  border-radius: 3px;
  background-color: var(--main-bg-medium);
  height: 2rem;
  padding: 3px;
  color: var(--main-bg-light)
}

.search-input-title:hover,
.search-input-author:hover,
.search-input-journal:hover,
.search-input-abstract:hover {
  background-color: rgb(65, 65, 65);
}

.search-label-title,
.search-label-author,
.search-label-journal, 
.search-label-abstract {
  margin-bottom: 2px;
}

/* Filters sections - right list */
.search-filter-date-picker,
.search-filter-categories {
  width: 100%;
}

.search-filter-date-picker {
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items: center;
  height: 30%;
}

.date-picker-container {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.date-picker {
  border: 0;
  border-radius: 3px;
  height: 2rem;
  width: 10rem;
  color: var(--main-bg-light);
  font-family: 'Quicksand';
  background-image: -webkit-linear-gradient(280deg, rgb(0, 160, 20), rgb(0, 60, 20));
}

.date-picker:hover {
  background-image: -webkit-linear-gradient(280deg, rgb(0, 180, 20), rgb(0, 80, 30));
  box-shadow: 0 0 3px 1px #333;
}

.search-filter-categories {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  max-height: 20rem;
  margin-bottom: 3rem;
}

.subject-container {
  display: flex;
  flex-direction: row-reverse;
  width: 45%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  flex-basis: 4rem;
  font-size: 1.1rem;
}

/* Submit button */
.search-submit {  
  border-radius: 3px;
  margin-bottom: 1.5rem;
  border: 0;
  width: 80%;
  height: 8%;
  font-size: 1.3rem;
  font-family: 'Quicksand';
  color: var(--main-bg-light);
  background: -webkit-linear-gradient(310deg, rgb(0, 130, 163), rgb(0, 45, 78));
}

.search-submit:hover {
  background: -webkit-linear-gradient(310deg, rgb(0, 204, 255), rgb(0, 73, 125));
  box-shadow: 0 0 3px 1px #333;
}

.search-error-msg {
 margin: 1.5rem 0;
 text-align: center; 
 font-weight: normal;
}

.search-loading-widget {
  position: absolute;
  top: 40%;
  left: 50%;
}

.select { 
	-moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  color: var(--main-bg-light);
  background-image: -webkit-linear-gradient(275deg, rgb(0, 125, 227), rgb(0, 46, 80));
}

.select:focus {
  background-color: var(--main-bg-dark);
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	outline: none;
}

.select:hover {
  background-image: -webkit-linear-gradient(275deg, rgb(0, 140, 254), rgb(0, 61, 108));
}

@media only screen and (max-width: 960px) {
  .search-form-container {
    width: 95vw;
  }
  .search-form,
  .search-filters {
    font-size: 1.2rem;
  }
  .subject-container {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 780px) {
  .search-form,
  .search-filters,
  .subject-container {
    font-size: 1rem;
  }
  .search-submit {
    font-size: 1.2rem;
  }
}